CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.user
*.cbp
*.a
.ipynb_checkpoints
src/dfalib.egg*
build-*
*.pyc
venv
build/
.idea
*.dll
*.lib
dafna.egg-info